# Ignore Visual Studio folders
.vs/
*.sdf
*.suo
*.user
*.VC.db
*.ipch/
*.tmp
*.TMP
*.log
*.pdb

# Build artifacts
Debug/
Release/
*.obj
*.exe
*.dll
*.lib
*.pch

# Ignore CMake/GLFW artifacts if any
CMakeFiles/
CMakeCache.txt
build/
