# Build and debug
*.obj
*.exe
*.ilk
*.log
*.pch
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.tmp

# Visual Studio folders
.vs/
*.VC.db
*.suo
*.user
*.ipch/
*.opendb
*.cache

# Backup or temp
*.bak
*.old
*.orig
*.swp
